header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

header .logo{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    color: black;
}

header button{
    border: none;
    background: none;
    cursor: pointer;
}